@keyframes animation-04 {
  from {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
  to {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
}
.animationClass-04 {
  animation: animation-04 0.30000001192092896s ease-out 0s normal forwards;
}
@keyframes animation-07 {
  from {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
  to {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
}
.animationClass-07 {
  animation: animation-07 0.30000001192092896s ease-out 0s normal forwards;
}
@keyframes animation-06 {
  from {
    width: 53.93193054199219px;
    height: 53.93193054199219px;
    top: 10.05517578125px;
    left: 8.22686767578125px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 50%;
    background: #40a2d8ff;
    box-shadow:
      0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612),
      inset 0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612);
  }
  to {
    width: 53.93193054199219px;
    height: 53.93193054199219px;
    top: 10.05517578125px;
    left: 72px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 50%;
    background: #40a2d8ff;
    box-shadow:
      0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612),
      inset 0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612);
  }
}
.animationClass-06 {
  animation: animation-06 0.30000001192092896s ease-out 0s normal forwards;
}
@keyframes animation-09 {
  from {
    width: 53.93193054199219px;
    height: 53.93193054199219px;
    top: 10.05517578125px;
    left: 72px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 50%;
    background: #40a2d8ff;
    box-shadow:
      0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612),
      inset 0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612);
  }
  to {
    width: 53.93193054199219px;
    height: 53.93193054199219px;
    top: 10.05517578125px;
    left: 8.22686767578125px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 50%;
    background: #40a2d8ff;
    box-shadow:
      0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612),
      inset 0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612);
  }
}
.animationClass-09 {
  animation: animation-09 0.30000001192092896s ease-out 0s normal forwards;
}
@keyframes animation-05 {
  from {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
      54.84602737426758px;
    box-sizing: border-box;
    border-left: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-right: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-top: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-bottom: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
  }
  to {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
      54.84602737426758px;
    box-sizing: border-box;
    border-left: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    border-right: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    border-top: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    border-bottom: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
  }
}
.animationClass-05 {
  animation: animation-05 0.30000001192092896s ease-out 0s normal forwards;
}
@keyframes animation-08 {
  from {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
      54.84602737426758px;
    box-sizing: border-box;
    border-left: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    border-right: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    border-top: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    border-bottom: 16.453807830810547px solid
      linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
  }
  to {
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
      54.84602737426758px;
    box-sizing: border-box;
    border-left: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-right: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-top: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-bottom: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
  }
}
.animationClass-08 {
  animation: animation-08 0.30000001192092896s ease-out 0s normal forwards;
}
