/* about main section  */

 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Inter', sans-serif;
    /* background-color:#f8f8f8    */
}

.main_sec_about_con{
    
   background-image: linear-gradient(to bottom, rgba(187, 187, 187, 0.104) 0%, #ffffff 100%); 
}

.heading1 {
    font-family: Poppins;
font-size: 36px;
/* font-weight: 700; */
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color:black;
font-weight: bolder ;
}

.paragraph1 {
    font-family: Poppins;
font-size: 19px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color:#3A3A3A;

}

.image {
    width: 503px;
height: 696px;
top: 164px;
left: 762px;

}

/* section 3  */
.sec3-heading {
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color: #0C5077;
}

.sec3-paragraph {
    font-family: Poppins;
font-size: 19px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #3A3A3A;

}

/* .sec3- button */
 
.sec_3_btn_team {
  display: inline-block;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to bottom, #85c7ee, #0579ee); 
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .sec_3_btn_team span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .sec_3_btn_team span:after {
  content: 'Our Team';
  position: absolute;
  opacity: 0;
  top: 0;
  right:  -20px;
  transition: 0.7s;
 }
 
 .sec_3_btn_team:hover span {
  padding-right: 5em;
 }
 
 .sec_3_btn_team:hover span:after {
  opacity: 4;
  right: 0;
 }


 
.section3 {
    background-color: #FFF1E1;
    padding-top: 100px;
    padding-bottom: 50px;
}





/* counters section  */
.counters_color{
color: #005ea6;
font-weight: 500;

}

.our_numbers_sec{
  font-weight: 600;
}
.key_fact{
  font-weight: bold;
}


.num_count{
  font-weight: bold;
 }


 .count_text{
  font-weight: bold;
  color: rgb(2, 80, 2);
 }



 



 .btn {
 
  background-image: linear-gradient(to bottom, #85c7ee, #0579ee); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #45a049; /* color change on hover */
}


 .tony_start_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  /* text-transform: uppercase; */
  border: none;
  /* box-shadow: hsl(210, 78%, 66%) 0px 7px 0px 0px;   */
  background-image:linear-gradient(to bottom, #57b6ed, #0579ee);
  border-radius: 50px;
  overflow: hidden;
  transition: 31ms cubic-bezier(.5, .7, .4, 1);
 }
 
 .tony_start_btn:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
 }
 
 .tony_start_btn:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(.5, .7, .4, 1);
 }
 
 .tony_start_btn:hover:before {
  transition: all .0s;
  transform: translateY(100%);
  opacity: 0;
 }
 
 .tony_start_btn i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
 }
 
 .tony_start_btn:hover i {
  transition: all .2s ease;
  transform: translateY(0px);
  opacity: 1;
 }
 
 .tony_start_btn:hover i:nth-child(1) {
  transition-delay: 0.045s;
 }
 
 .tony_start_btn:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
 }
 
 .tony_start_btn:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
 }
 
 .tony_start_btn:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
 }
 
 .tony_start_btn:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
 }
 
 .tony_start_btn:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
 }
 
 .tony_start_btn:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
 }
 
 .tony_start_btn:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
 }
 
 .tony_start_btn:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
 }