@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.kanit-regular {
  font-family: "Kanit", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}




* {
    font-family: 'Inter', sans-serif;
    /* background-color:#f8f8f8    */
}


/* WhatsApp Logo */
.whatsapp_logo {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 9999; /* Ensure it appears on top of other content */
}

.whatsapp_logo img {
    width:50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}

/* Scroll-to-Top Button */
#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#4698db; /* Background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 80%;
    padding: 10px; /* Adjust padding as needed */
    font-size: 24px; /* Adjust font size as needed */
    cursor: pointer;
    z-index: 9999; /* Ensure it appears on top of other content */
}

#scroll-top:hover {
    background-color: #01539D; /* Hover background color */
}


#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #033c72e9;
    color: #ffffff;
    border: none;
    border-radius:50%;
    cursor: pointer;
    display: none;
    /* height: 20px; */
}






/* header and navbar start */



 

.sec1-para {
    font-family: Poppins;
    /* font-size: 18px; */
    /* font-weight: 500; */
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.sec1-viewmore {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fefefe;
    background-blend-mode: screen;
    background: #085093CC;
    background: linear-gradient(180deg, #3598F3 0%, #0A58A0 100%);
    border: 3.66px solid #82add8cc;
    padding: 10px;
    border-radius: 25px;
}
 


 
 
 



 
.dropdown-menu {
 /* opacity: 0.1;  */
 background: transparent !important;
 /* border-radius: 20px; */

}

.menu_border{
 border-color: rgb(189, 188, 188) !important;
 border-width: 2px !important;
border-radius: 20px !important;
backdrop-filter: blur(8px); /* Adjust the blur intensity as per your preference */
background-color: rgba(255, 255, 255, 0.5); 
  padding-right: 50px !important; 
padding-left: 20px !important; 
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale;  

}
.menu_item{
    font-weight: bold !important;
    color: #ffffff !important;
    line-height:  55px !important ;
 

    
        -webkit-font-smoothing: antialiased; 
        -moz-osx-font-smoothing: grayscale;  
        text-rendering: optimizeLegibility;
    
    
}

.menu_item:hover{
  background-color: transparent !important;
 
}

.dropdown-menu .menu_item {
    border-bottom: 3px dashed #d7d7d751 !important; /* Adjust the color and style of the border as per your preference */
    width: 180px;

}
.dropdown-menu   .lol:last-child {
    border-bottom: none !important;   
}

.icon_container{
  margin-top: -80px;
} 
 
 
.card{
width:180px;
height: 180px !important;
}

@media (max-width:576px) {
  .icon_container{
    margin-top: 40px;
   
  } 

  .button_card{
    margin-top: -50px;
  }
}

@media (min-width:572px) and (max-width:768px) {
  .card_main_container{
    margin-top: -50px;
  }

 

.moye{
  display: none;
}

  .card{
    margin-top: 8px;
   
    width:130px;
    height: 130px !important;
    
    }
  
    .content .title {
      display: block;
      color: #003789;
      /* padding: 20px !important;  */
       /* padding-top: -180px !important; */
      font-size: 15px !important;
      margin-top: -1px !important;
      font-weight: bold;
    }

    .icon_container{
      margin-top: 20px;
    } 

}
  

@media (min-width:768px) and (max-width:992px) {

  .card{
    margin-top: 8px;
   
    width:160px;
    height: 160px !important;
    }
  
    .content .title {
      display: block;
      color: #003789;
      padding: 20px !important;
       padding-top: 30px !important;
      font-size: 20px;
      margin-top: 50px !important;
      font-weight: bold;
    }

    .icon_container{
      margin-top: -100px;
    } 

}

.parent-div {
    width: 205px;
    height: 100px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .button--1-4704 {
    position: absolute;
    width: 205px;
    height: 100px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .component-2-1-2666-container {
    position: absolute;
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 15px;
    left: 38px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
  .property-1butto-1-2112 {
    position: absolute;
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
  .ellipse-1031-1-1700 {
    position: absolute;
    width: 53.93193054199219px;
    height: 53.93193054199219px;
    top: 10.05517578125px;
    left: 8.22686767578125px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 50%;
    background: #40a2d8ff;
    box-shadow:
      0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612),
      inset 0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612);
  }
  .rectangle-6280-1-32 {
    position: absolute;
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
      54.84602737426758px;
    box-sizing: border-box;
    border-left: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-right: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-top: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-bottom: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
  }
  
  @keyframes animation-04 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
  }
  .animationClass-04 {
    animation: animation-04 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-07 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
  }
  .animationClass-07 {
    animation: animation-07 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-06 {
    from {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 8.22686767578125px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
    to {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 72px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
  }
  .animationClass-06 {
    animation: animation-06 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-09 {
    from {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 72px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
    to {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 8.22686767578125px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
  }
  .animationClass-09 {
    animation: animation-09 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-05 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    }
  }
  .animationClass-05 {
    animation: animation-05 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-08 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    }
  }
  .animationClass-08 {
    animation: animation-08 0.30000001192092896s ease-out 0s normal forwards;
  }







  /* BUTTON  */


  .parent-div {
    width: 205px;
    height: 100px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .button--1-4704 {
    position: absolute;
    width: 205px;
    height: 100px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .component-2-1-2666-container {
    position: absolute;
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 15px;
    left: 38px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
  .property-1butto-1-2112 {
    position: absolute;
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
  .ellipse-1031-1-1700 {
    position: absolute;
    width: 53.93193054199219px;
    height: 53.93193054199219px;
    top: 10.05517578125px;
    left: 8.22686767578125px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 50%;
    background: #40a2d8ff;
    box-shadow:
      0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612),
      inset 0px 3.6564018726348877px 3.6564018726348877px 0px
        rgba(0, 0, 0, 0.10000000149011612);
  }
  .rectangle-6280-1-32 {
    position: absolute;
    width: 138.0291748046875px;
    height: 74.95623779296875px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
      54.84602737426758px;
    box-sizing: border-box;
    border-left: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-right: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-top: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    border-bottom: 16.453807830810547px solid
      linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
  }
  
/* arrow icon  */



 

@media (min-width:1200px) {
  .text_div{
  margin-top: 20px !important;
  color: #ffffff;
  
}

.bird_div{
  margin-top: -80px !important;
}


 .custom-icon {
    color: #40a2d8ff; /* Change this to the color you desire */
    font-size: 30px;
}

}


@media (min-width:992px) and (max-width:1200px) {
  .text_div{
  margin-top: 30px !important;
  color: #ffffff;
  
}

.bird_div{
  margin-top: -40px !important;
}


 .custom-icon {
    color: #40a2d8ff; /* Change this to the color you desire */
    font-size: 25px;
}

}

@media (min-width:768px) and  (max-width:992px)  {
  .text_div{
  margin-top: 40px !important;
  color: #ffffff ;
  
}

.growth_size{
  font-weight: 700px ;
   font-size:128px !important;
    margin-top: -22px !important;
}

.bird_div{
  margin-top: -20px !important;
}


 .custom-icon {
    color: #40a2d8ff; /* Change this to the color you desire */
    font-size: 40px;
}
 
  .we_support{
    font-size: 44px !important; 
  }
  
  
  .your_business{
    font-size: 44px !important; 
    margin-top: -30px !important; 
  
  }
   /* growth  */
  

    .slider {
      position: absolute;
      cursor: pointer;
      inset: 0;
      border: 12px solid #ffffff !important;
      border-radius: 50px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      margin-top: -25px !important; 
      margin-bottom: 40px !important;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 1.1em !important;
      width: 1.1em !important;
      left: -0.1em !important;
      bottom: -0.10em !important; 
      background-color: #40a2d8ff;
      border-radius: inherit;
      transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
   
    }
  
    .switch input:checked + .slider {
      box-shadow: 0 0 20px rgba(246, 246, 246, 0.8);
      border: 12px solid #e5ffff !important;
    }
    
    .switch input:checked + .slider:before {
      transform: translateX(1.5em);
    }
  
    .switch { 
      margin-left: -10px !important;
      margin-right: -30px !important;
 
    
      font-size:38px !important;
      position: relative;
      display: inline-block;
      width: 2.9em !important;
      height: 2em;
    }
  
  
   
    
   }

@media (min-width:576px) and  (max-width:768px)  {
  .text_div{
  margin-top: 30px !important;
  color: #ffffff ;
  
}

.growth_size{
  font-weight: 700px ;
   font-size:65px !important;
    margin-top: -22px !important;
}

.bird_div{
  margin-top: -80px !important;
}


 .custom-icon {
    color: #40a2d8ff; /* Change this to the color you desire */
    font-size: 20px;
}
 


 
  
  .we_support{
    font-size: 24px !important; 
  }
  
  
  .your_business{
    font-size: 24px !important; 
    margin-top: -34px !important; 
  
  }
   /* growth  */
  
   
  
  
  
    .slider {
      position: absolute;
      cursor: pointer;
      inset: 0;
      border: 6px solid #ffffff !important;
      border-radius: 50px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      margin-top: -10px !important; 
      margin-bottom: 23px !important;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 1.1em !important;
      width: 1.1em !important;
      left: -0.1em !important;
      bottom: -0.10em !important; 
      background-color: #40a2d8ff;
      border-radius: inherit;
      transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
   
    }
  
    .switch input:checked + .slider {
      box-shadow: 0 0 20px rgba(246, 246, 246, 0.8);
      border: 5px solid #e5ffff !important;
    }
    
    .switch input:checked + .slider:before {
      transform: translateX(1.5em);
    }
  
    .switch { 
      margin-left: -10px !important;
      margin-right: -10px !important;
 
    
      font-size:23px !important;
      position: relative;
      display: inline-block;
      width: 2.9em !important;
      height: 2em;
    }
  
  
   
    
   }
  





 













@media (max-width:576px)  {
  .text_div{
  margin-top: 30px !important;
  color: #ffffff ;
  
}

.bird_div{
  margin-top: -40px !important;
}


 .custom-icon {
    color: #40a2d8ff; /* Change this to the color you desire */
    font-size: 20px;
}
 

}

 /* growth  */


 .growth_size{
   font-weight: 700px ;
    font-size:100px;
     margin-top: -35px;
 }

 .we_support{
  font-weight: 700px ; 
}

.your_business{
  font-weight: 700px  ;
   margin-top: -38px; 

}




 @media (max-width:576px) {

/* we support  */

.we_support{
  font-size: 24px !important; 
}


.your_business{
  font-size: 24px !important; 
  margin-top: -25px; 

}
 /* growth  */

  .growth_size{
    font-weight: 700px ;
     font-size:57px;
      margin-top: -22px !important;
  }



  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 6px solid #ffffff !important;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: -5px !important; 
    margin-bottom: 20px !important;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.1em !important;
    width: 1.1em !important;
    left: -0.1em !important;
    bottom: -0.25em ; 
    background-color: #40a2d8ff;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
 
  }

  .switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(246, 246, 246, 0.8);
    border: 5px solid #e5ffff !important;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }

  .switch { 
    margin-left: -10px !important;
    margin-right: -10px !important;
    
  
    font-size:20px !important;
    position: relative;
    display: inline-block;
    width: 2.9em !important;
    height: 2em;
  }


 
  
 }





















  /* The switch - the box around the slider */
.switch { 
  margin-left: -12px;
  margin-right: -12px;
  

  font-size:30px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 12px solid #ffffff;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-top: -20px; 
  margin-bottom: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: -0.1em;
   bottom: -0.25em; 
  background-color: #40a2d8ff;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);

  

}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(246, 246, 246, 0.8);
  border: 12px solid #e5ffff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}


 
.con > div {
  display: inline-block;
}





 .address{
  font-weight: bold;
  color: white;
  font-size: 20px;
 }