@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Inter', sans-serif;
    /* background-color:#f8f8f8    */
}

/* header and navbar start */



 

.sec1-para {
    font-family: Poppins;
    /* font-size: 18px; */
    /* font-weight: 500; */
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.sec1-viewmore {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fefefe;
    background-blend-mode: screen;
    background: #085093CC;
    background: linear-gradient(180deg, #3598F3 0%, #0A58A0 100%);
    border: 3.66px solid #82add8cc;
    padding: 10px;
    border-radius: 25px;
}
 


 
 
 


/* WhatsApp Logo */
.whatsapp_logo {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 9999; /* Ensure it appears on top of other content */
}

.whatsapp_logo img {
    width:50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}

/* Scroll-to-Top Button */
#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#4698db; /* Background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 80%;
    padding: 10px; /* Adjust padding as needed */
    font-size: 24px; /* Adjust font size as needed */
    cursor: pointer;
    z-index: 9999; /* Ensure it appears on top of other content */
}

#scroll-top:hover {
    background-color: #01539D; /* Hover background color */
}


#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #033c72e9;
    color: #ffffff;
    border: none;
    border-radius:50%;
    cursor: pointer;
    display: none;
    /* height: 20px; */
}

 
.dropdown-menu {
 /* opacity: 0.1;  */
 background: transparent !important;
 /* border-radius: 20px; */

}

.menu_border{
 border-color: rgb(189, 188, 188) !important;
 border-width: 2px !important;
border-radius: 20px !important;
backdrop-filter: blur(8px); /* Adjust the blur intensity as per your preference */
background-color: rgba(255, 255, 255, 0.5); 
  padding-right: 50px !important; 
padding-left: 20px !important;  

}
.menu_item{
    font-weight: bold !important;
    color: #ffffff !important;
    line-height:  55px !important ;
 
}

.menu_item:hover{
  background-color: transparent !important;
 
}

.dropdown-menu .menu_item {
    border-bottom: 3px dashed #d7d7d7 !important; /* Adjust the color and style of the border as per your preference */
}
.dropdown-menu   .lol:last-child {
    border-bottom: none !important;   
}

 
             
            .card1{
                background-color: #ffffff;
                height: auto;
                width: auto;
                border-radius: 12px;
                 

            }
            .card2{
                background-color: #ffffff;
                height: auto;
                width: auto;
                border-radius: 12px;
            }
            .card3{
                background-color: #ffffff;
                height: auto;
                width: auto;
                border-radius: 12px;
            }

            .card_heading{
               font-weight: bold;
               color: #0d4b6c;
              
            }

            @media(min-width:375px) and (max-width:576px) {
           .card1 {
            height: 100% !important;
            width: 100% !important;
          }
        }

          @media(min-width:375px) and (max-width:576px) {
           .card2{
            height: 100% !important;
            width: 100% !important;
          }
        }

          @media(min-width:375px) and (max-width:576px) {
           .card3 {
            height: 100% !important;
            width: 100% !important;
          }
        }
 